@model tao_net.ViewModels.HeatViewModel
@{
    ViewBag.Title = "BookMeeting";
}

<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                            <h6>Sparring</h6>
                            <h2>Det en rigtig god ide at <em>være velforberedt </em> til en Energirådgiver samtale. </h2>
                            <p>

                                Det kan være svært som Energirådgiver at hjælpe uden at have konkrete informationer, <br />
                                derfor anbefaler vi at du finder så meget information du kan omkring dit nuværende varme system inden samtalen.

                                <br />
                                <br />


                                Det er vigtigt at sætte sig grundig ind i hvilke muligheder der er og hvad der er økonomisk fornuftigt,
                                og netop dette kan vores Energirådgivere hjælpe dig med.
                                <br />
                                <br />
                                Udfyld nedstående tabel og book en tid hos os

                                <br />
                                <br />



                            </p>
                            
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">

                            <img src="https://onlinewritingtraining.com.au/wp-content/uploads/2017/03/Depositphotos_80142590_s-2015.jpg" alt="House with energy grade">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
