@model tao_net.ViewModels.HeatViewModel
@{
    ViewBag.Title = "Index";
}


<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                            <h6>Kan det betale sig?</h6>
                            <h2>Få bedre indblik i  <em>økonomiske </em> <span> <br>fordele ved</span> Fjernvarmeanlæg</h2>
                            <p>
                                Bygninger i EU forventes at nedsætte deres energiforbrug.
                                <br />
                                <br />
                                Det gælder også varmeforbruget i Albertslund, hvor alle bygningsejere opfordres til at hjælpe med at efterisolere og effektivisere.
                                <br />
                                <br />
                                En god velisoleret bygning har et meget lille behov for tilført varme. Det gælder også for Albertslunds mange boliger og erhvervsbygninger, der for de flestes vedkommende er bygget i 1960' -og -70'erne.
                                Mange er lavet i beton og de fleste har store glasarealer, der giver kolde rum om vinteren og meget varme rum om summeren.
                                <br />
                                <br />
                                Energirenoveringen af Albertslund er i fuld gang. Hundredevis af lejerrækkehuse har allerede reduceret varmeforbruget med 50-60% og i hundredevis af gårdhavehuse er på vej.
                                <br />
                                <br />
                                <h6>Få overslag på tilskud til renovering</h6>
                                <br />
                                Beregneren giver overslag på tilskudsmuligheder for dig, der vil energirenovere
                                Der er tale om et ikke-bindende overslag på tilskud samt driftbesparelser, som kun er vejledende.
                            </p>
                            <div class="main-blue-button">@Html.ActionLink("Beregn Tilskud", "Calculator", "Heat")</div>
                            <br />
                            <p>
                                <h6>Albertslund Kommune Varmetakster for 2019</h6>
                            </p>
                            <a href="https://fjernvarme.albertslund.dk/media/1716058/varme-og-tao-takstblad-2019-albertslund-forsyning_.pdf">Varme Takster</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">

                            <img src="https://installator.dk/sites/default/files/styles/2400px/public/Energibesparelse.jpg?itok=KCLG3a5I" alt="House with energy grade">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--
<br />
<br />
<h2>Varme typer:</h2>

<br />

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Pris</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.HeatTypes.Count == 0)
        {

        }
        else
        {
            foreach (var heatType in Model.HeatTypes)
            {
                <tr>
                    <td>@heatType.Name</td>
                    <td>@heatType.Price</td>
                </tr>
            }
        }
    </tbody>
</table>



-->
