@model tao_net.ViewModels.HeatViewModel
@{
    ViewBag.Title = "VarmeTakster";
}

<button href="">https://fjernvarme.albertslund.dk/media/1716058/varme-og-tao-takstblad-2019-albertslund-forsyning_.pdf</button>

<iframe scrolling="yes"
        src="https://fjernvarme.albertslund.dk/media/1716058/varme-og-tao-takstblad-2019-albertslund-forsyning_.pdf"
        title="Prisberegner"
        height="1100"
       <!--       width="950">      -->
        width:100%
        
</iframe>
